 {
	"presets": [["env",{"targets": {"browsers": ["> 1%","not ie <= 11"]}}]],
	"sourceMaps":true,
	"sourceType": "module",
	"plugins": [
		["babel-plugin-transform-builtin-extend", { "globals": ["Array"] }]
	]
}